In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [4]:
# 1) Read the dataset as a dataframe. 
# Create a copy of your dataframe. 
# Solve the rest of the questions using this dataframe copy.

df=pd.read_csv("/kaggle/input/weather-dataset-rattle-package/weatherAUS.csv")

In [5]:
df.head(1).T

In [6]:
# 2) Find out the describe and info attributes of the dataframe. 
# Analyze these information and create a short write-up according to your findings.

df.info()

In [7]:
    df.describe()

In [8]:
# 3) Find out the shape and size info of the dataset.

df.shape

In [9]:
df.size

In [10]:
# 4) Find out the types values of the columns and save the result as a dataframe.,
df_dtype=df.dtypes
df_dtype

In [11]:
# 5) Find out the non-null counts of the columns and save the result as a dataframe.

df_nonNul=df.dropna()
df_nonNul_count=df.notnull().sum()

df_nonNul_count
#df.dropna().count()[0]

In [12]:
# 6) Find out the null counts of the columns and save the result as a dataframe.

df_nul_count=df.isnull().sum()
df_nul_count

In [13]:
# 7) Find out the unique counts of the columns and save the result as a dataframe.

#df['Date'].value_counts().count()    # Bu şekilde yazdığımda her kolon için unique değeri ayrı ayrı bulabiliyorum.
#df.value_counts().count()            # Ancak bu şekilde yazdığımda tüm kolonlar çıkmıyor. Bu yöntem is nul veya not nul da işe yaramıştı

df_unique_count=df.apply(pd.value_counts).count()   # Sorunu çözmek için bunu denedim oldu.
df_unique_count

In [14]:
# 8) Merge the dataframes you created in questions 4-5-6-7. Expected output:

lst = [df_dtype,df_nonNul_count,df_nul_count,df_unique_count]
merged_df = pd.concat(lst,axis=1)
merged_df.columns=[ "dtype", "notnull" ,"isnull", "unique"]
merged_df.head()

In [17]:
# 9) Lowercase all column names.

df.columns= df.columns.str.lower()
df.head().T

In [29]:
# 10) Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns.

df.raintoday.replace("No","NoRain", inplace=True)
df.raintoday.replace("Yes","Rain", inplace=True)
df.raintomorrow.replace("No","NoRain", inplace=True)
df.raintomorrow.replace("Yes","Rain", inplace=True)

print(df[["raintoday","raintomorrow"]])

In [35]:
# 11) Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.

df['date'].dtype

df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['date'] = df['date'].dt.strftime('%d/%m/%Y')
df['date']

In [38]:
# 12) Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, 
# and store the value in this new column.

df['difference'] = df['maxtemp'] - df['mintemp']
df.head().T

In [43]:
# 13) Remove the evaporation and sunshine columns from the dataset permanently.

 
df.drop(['evaporation','sunshine'],axis = 1, inplace = False).head().T

#df.drop(['evaporation','sunshine'],axis = 1, inplace = True).head().T

In [50]:
# 14) Find out the most rainy day for each city.

df.groupby("location").aggregate({"rainfall":"max"})

In [54]:
# 15) Filter out all the data for the city 'Albury' and then sort according to maxtemp column.

df_Albury = df[df.location == 'Albury']
df_Albury.head().T
df_Albury.sort_values(by=['maxtemp']).T

In [57]:
# 16) Find out the NaN counts for each column.

df.isnull().sum()

In [59]:
# 17) Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

df.dropna(subset=['windgustdir'],inplace = False).T

#df.dropna(subset=['windgustdir'],inplace = True)

In [60]:
# 18) Create a new dataframe, use "Location" column as the index of the dataframe, 
# display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.


df.groupby('location').aggregate({'evaporation':['min','max',np.median],'sunshine':['min','max',np.median]})

In [68]:
# 19) Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

df[(df.location=='Perth') & df.maxtemp==True].sort_values(by=['maxtemp']).tail() # ikinci koşul nan olan değerleri almaması için

df[(df.location=='Perth') & df.maxtemp==True].sort_values(by=['maxtemp']).tail(1)['date']

In [71]:
# 20) Group your dataframe by location and find out the averages of all numeric values.

df.groupby('location').mean()